<app-generic-challenge 
  [prompt]="'challenge1:~$ '"
  [challengeKey]="challenge1key"
  [nextChallengeRoute]="challenge2key"
>
Our vigilant cyber team has successfully intercepted coded messages from the SkynetGPT Bots.<br/>
In their encrypted language, known as <b>cipher</b>, common Earthly programming jargon takes on a new form like:<br/>
'heisenbug' becomes 'hfkvishbo', 'bicrement' becomes 'bjeuirkub' and 'jenga code' becomes 'jfpje cpfh'. <br/>
Decode the following cryptic words and enter your answer next to the prompt and hit 'Enter'. <br/>
<b> tftpmsgam hvodrx -> ? </b> <br/>

</app-generic-challenge>