<app-generic-challenge 
  [prompt]="'challenge4:~$ '"
  [challengeKey]="challenge4key"
  [nextChallengeRoute]="challenge5key"
>
  <span class="text-red">404: Not Found</span><br/>
  Whatever you were looking for might no longer exist.<br/><br/><br/>

  <i class="hidden-message">No... wait... SkynetGPT is hacking this terminal...you must find the <b>source</b> of truth... 
  Do what a true developer would do!</i> <br/>
  <!-- ANSWER -->
  <p hidden>Your answer is 'Resistance Lives'</p>
</app-generic-challenge>