<div class="terminal-container">
    <div class="question"> Welcome to the Digital Detectives Challenge! 🚀<br/>
        Prepare to embark on a thrilling journey where your logic, wit, and determination will be tested. As a Digital Detective, you'll decode clues and solve puzzles to uncover hidden secrets.<br/>
        To start your adventure, press 'Enter/Return' and let the hunt begin! Only the keenest minds will prevail as you delve deeper into the digital realm.<br/>
    </div>
    <div class="prompt-container">
        <span class="prompt">{{ prompt }}</span>
        <span class="prompt-text">Press 'Enter/Return' to start your journey.</span>
        <span class="cursor">|</span> <!-- Blinking cursor -->
    </div>
</div>
  