<div class="terminal-container">
    <div class="black-bg">
        Congratulations! You've cracked the case! <br />
        Your brilliance and perseverance have earned you the title of Digital Detective! <br />
        Watch the pixel fireworks 🎆 but quickly go to Breejesh & Vamshi and submit all your answers!
        <br/>
        <br/>
        
        <div class="prompt-container">
            <span class="prompt">{{ prompt }}</span>
            <span class="prompt-text">Press 'Enter/Return' to start your journey again.</span>
            <span class="cursor">|</span> <!-- Blinking cursor -->
        </div>
    </div>    
</div>
