<div class="terminal-container">
    <div class="black-bg">
        Congratulations, brave <span class="text-cyan">Digital Detective!</span>  <br />
        You've successfully defeated <span class="text-red">SkynetGPT</span> and saved humanity from its clutches!
        Celebrate your victory as the pixel fireworks light up the digital sky! <br/> But remember, your mission is not yet complete! 
        <br/> <b> Quickly report back to your hosts and submit all your hard-earned answers! </b> <br />
        <br/>
    </div>
    <div class="prompt-container">
        <span class="prompt-prefix">root&#64;</span><span class="prompt">freedom:~$</span>
        <span class="prompt-text">Press 'Enter/Return' to start your journey again.</span>
        <span class="cursor">|</span> <!-- Blinking cursor -->
    </div>
</div>
