<app-generic-challenge 
  [prompt]="'challenge2:~$ '"
  [challengeKey]="challenge2key"
  [nextChallengeRoute]="challenge3key"
>
Our vigilant cyber team has successfully intercepted coded messages from the SkynetGPT Bots.<br/>
In their encrypted language, known as 'Cipher,' common Earthly programming jargon takes on a new form:<br/>
1. heisenbug - hfkvishbo <br/>
2. bicrement - bjeuirkub <br/>
3. jenga code - jfpje cpfh <br/>
Find out what they were saying by decoding the following words: <b> tftpmsgam hvodrx </b> <br/>

</app-generic-challenge>