.transparent-input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font: inherit;
    width: auto;
    caret-color: transparent; /* Hide the default cursor */
    position: relative;
  }
  
  .input-wrapper {
    display: inline-block;
    position: relative;
  }
  
  .blinking-cursor {
    display: inline-block;
    width: 1px;
    height: 1em;
    background: white;
    animation: blink 1s step-end infinite;
    position: absolute;
    top: 0;
    margin-top: 4px;
    left: 0;
  }
  
  @keyframes blink {
    from, to {
      background: transparent;
    }
    50% {
      background: white;
    }
  }

  .terminal-output {
    max-height: 200px;
    min-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: gray;
  }