body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  font-family: 'Fira Code', 'Source Code Pro', 'Courier New', monospace !important;
  background-color: black !important; /* Terminal background */
}

body.winner-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black url('/assets/fireworks.gif') no-repeat center 20% fixed !important;
  background-size: cover !important;
}

.terminal {
  height: 100vh; /* Full height */
  width: 100vw; /* Full width */
  color: white; /* Default text color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Prevent overflow */
}

.cursor {
  color: white; /* Cursor color */
  animation: blink 1s step-end infinite; /* Blinking effect */
}

/* Blinking cursor animation */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
  
.prompt-container {
  display: flex;
  min-width: 500px;
}

.prompt-prefix {
  color: lawngreen;
}

.prompt {
  color: cyan;
  margin-right: 5px; /* Spacing */
}

.prompt-text {
  margin-right: 5px; /* Spacing */
}

.user-input {
  color: white;
}

.question {
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 20px;
  text-align: center;
}

.question-image {
  max-width: 250px;
}

.terminal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Text color */
  height: 100%; /* Full height */
}

.typing {
  margin-top: 10px;
  white-space: pre; /* Preserve whitespace */
  color: orange; /* Typing text color */
}

.typing.false {
  color: red; /* Typing text color */
}

.typing.true {
    color: lawngreen; /* Typing text color */
}

.text-red {
  color: red;
}

.text-cyan {
  color: cyan;
}

.text-green {
  color: lawngreen;
}

.glitch {
  position: relative;
  animation: glitch 4s infinite;
}

@keyframes glitch {
  0%, 95%, 100% {
    text-shadow: none;
    transform: translate(0);
  }
  1%, 3% {
    text-shadow: 2px 2px red, -2px -2px blue;
    transform: translate(2px, -2px);
  }
  5%, 7% {
    text-shadow: -2px -2px red, 2px 2px blue;
    transform: translate(-2px, 2px);
  }
  9%, 11% {
    text-shadow: 2px -2px red, -2px 2px blue;
    transform: translate(2px, 2px);
  }
  13%, 15% {
    text-shadow: -2px 2px red, 2px -2px blue;
    transform: translate(-2px, -2px);
  }
  17%, 19% {
    text-shadow: 2px 2px red, -2px -2px blue;
    transform: translate(2px, -2px);
  }
  21%, 23% {
      text-shadow: none;
      transform: translate(0);
      color: white; /* Default color */
  }
}